<%- include('header') -%> 

<body>
    <div class="box" id="heading">
        <h1><%= titleEJS %></h1>
    </div>
    <div>
        There is still nothing to see here.
    </div>
</body>

<%- include('footer') -%>